Requirements:

1. The game shall consist of a 6 by 6 matrix of rooms, which shall be displayed to the player at each iteration, along with the location of the Student (indicated as an S).

2. At each iteration, the player shall be able to input the direction they wish the Student to move (N for North, S for South, E for East or W for West).  There are no other options.  If a player enters any command other than N, S, E, or W, or their lowercase equivalents, the game shall display "Please enter N, S, E, or W".

3. All user input shall be case-insensitive.  For example, typing either "N" or "n" shall take the Student to the room to the North (if it exists).

4. If a room exists in the direction they have indicated, the Student shall move to that room and a new iteration shall commence.

5. If a room does not exist, the game shall indicate to the user that they cannot move in that direction.

6. The game shall accept a 32-bit signed integer seed for the random number generator.  This should be entered as an argument for the program on the command line.

7. If an invalid value is entered for the seed, the system shall ignore it and assume that no argument was passed in (that is, it will act as though no seed were entered).

8. The TA shall move a random direction at each iteration.  If the TA attempts to move to a room which does not exist, the user shall be informed that they hear the TA bump into a wall.  Professor Wumpus shall not move.

9. If the Student has found the Assignment and encountered Professor Wumpus, the player shall win.  If the Student has encountered Professor Wumpus but has not found the Assignment, the player shall lose.  In either case, after the scenario occurs, the program shall end.

10. If the Student is in a room directly to the North, South, East or West of Professor Wumpus, the program shall indicate that they hear somebody pontificating on Computer Science.

11. If the Student is in a room directly to the North, South, East or West of the TA, the program shall indicate that they hear the rustling of graded papers.
